<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="scss/style.scss")
    script(defer src="js/main.js")

    //- Map box stuff
    script( src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet')

    title JS simplified Projects

  body
    header
      nav.wrap
        h3 WDS JS Projects
        ul.canHazBurger
          li
          li
          li
        ul.navMain.hidden
          li 
            a(href="#piano") Midi Piano
          li
            a(href="#quiz") Code Quiz
          li 
            a(href="#validation") Sign Up
          li 
            a(href="#todo-list") Todo List
          li 
            a(href="#accordion") Accordion

    main
      section
        .hero.wrap
          h1 Java Script Simplified (Beginner)
          p This is a repo dedicated to the projects I am doing for Web Dev Simplified 
            a(target="_blank" href="https://javascriptsimplified.com/", rel="noopener noreferrer") JavaScript Simplified beginner course
            //- p
            //- button#promise Promise

      section
        #piano.wrap
          h2 Midi Piano
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore expedita numquam blanditiis assumenda totam, eaque, odit voluptate eum libero perferendis earum! Labore reprehenderit fugit similique voluptatibus rerum quas cupiditate vitae!

          label 
            input#useKeys(type="checkbox", name="useKeys")
            | Enable Keyboard
          .piano
            .key.white(data-note="C") S
            .key.black(data-note="Db") E
            .key.white(data-note="D") D
            .key.black(data-note="Eb") R
            .key.white(data-note="E") F
            .key.white(data-note="F") H
            .key.black(data-note="Gb") U
            .key.white(data-note="G") J
            .key.black(data-note="Ab") I
            .key.white(data-note="A") K
            .key.black(data-note="Bb") O
            .key.white(data-note="B") L
            .rotate
              .rotate-text
                .close ❌
                h2 🔁
                h3 Rotate Me 
                span for better experience


      section
        #quiz.wrap
          h2 Quiz App
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore expedita numquam blanditiis assumenda totam, eaque, odit voluptate eum libero perferendis earum! Labore reprehenderit fugit similique voluptatibus rerum quas cupiditate vitae!

          form#quiz-form
            #alert
              .alert-title 
                span 🥳 Congratulations!!
                h3 You got them all right!

            ol
              li.question-item
                div
                  | What does this code return? 
                  br
                  code ( 0 || '' || false || "Hi  )

                div
                  ol
                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-1' value='false')
                        code 0

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-1' value='true')
                        code "Hi"

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-1' value='false')
                        code false

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-1' value='false')
                        code ''

              li.question-item
                div What is it called when a function calls itself?
                div
                  ol
                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-2' value='false')
                        | Inception

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-2' value='false')
                        | Self-Referential

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-2' value='true')
                        | Recursion

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-2' value='false')
                        | Who Cares

              li.question-item
                div
                  | How do you access the value of the 
                  code data-count
                  |  data attribute in JavaScript?

                div
                  ol
                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-3' value='true')
                        code element.dataset.count

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-3' value='false')
                        code element.dataAttribute.count

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-3' value='false')
                        code element.dataset.dataCount

                    li.answer-item
                      label
                        input.answer(type='radio' name='answer-3' value='false')
                        code element.dataCount

              button(type='submit') Check

      section
        #validation.wrap
          h2 Form Validation
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore expedita numquam blanditiis assumenda totam, eaque, odit voluptate eum libero perferendis earum! Labore reprehenderit fugit similique voluptatibus rerum quas cupiditate vitae!

          form#form()
            .input-wrap
              .form-group
                label(for='username') Username
                input#username(type='text' name='username')

              .form-group
                label(for='password') Password
                input#password(type='password' name='password')

              .form-group
                label(for='password-confirmation') Password Confirmation
                input#password-confirmation(type='password' name='password-confirmation')

              .form-group
                label(for='terms')
                  input#terms(type='checkbox' name='terms')
                  | Agree To Terms?

              button(type='submit') Create Account

            .errors
              h3.error-title Error
              ul.errors-list
            
            .success-form 
              h2 Thanks for registering
              p You have successfully created an account!
            
      section
        #todo-list.wrap
          h2 Todo List
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti optio cupiditate eius illo aliquam dolorem ipsa corporis pariatur corrupti quisquam rem, distinctio ullam vel eum sit aperiam dicta itaque. Obcaecati?

          ul#list
          form#new-todo-form

            label(for='todo-input') New Todo
            input#todo-input(type='text')
            button(type='submit') Add Todo

          template#list-item-template
            li.list-item(data-todo-id='')
              label.list-item-label
                input(type='checkbox' data-list-item-checkbox='')
                span(data-list-item-text='')
              button(data-button-delete='') Delete

      section
        #accordion.wrap
          h2 Accordion Challenge
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, id cumque ipsam, quibusdam, quam quae facilis itaque delectus quis perferendis ut saepe non corporis fugiat dolore corrupti quaerat iusto aut.

          .card
            .card-header
              span Title 1
              button.expand-button Expand
            .card-body
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
          .card
            .card-header
              span Title 2
              button.expand-button Collapse
            .card-body.show
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
          .card
            .card-header
              span Title 3
              button.expand-button Expand
            .card-body
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
          .card
            .card-header
              span Title 4
              button.expand-button Expand
            .card-body
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.

      section
        .wrap
          h2 Google Maps Clone
          p amet consectetur adipisicing elit. Quam, dignissimos incidunt ea numquam eveniet accusantium tempore impedit sit aliquid ipsa, recusandae voluptates laboriosam eligendi voluptatem odio? Distinctio optio ipsum exercitationem?
            a(href="https://www.mapbox.com/install/js/cdn-complete/", target="_blank", rel="noopener noreferrer")
              | MapBox api options
          #map

      section
        .wrap
          h2 Last project?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, dignissimos incidunt ea numquam eveniet accusantium tempore impedit sit aliquid ipsa, recusandae voluptates laboriosam eligendi voluptatem odio? Distinctio optio ipsum exercitationem?



