<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="scss/style.scss")
    script(defer src="js/main.js")
    title Change ME!

  body
    header
      nav.wrap
        h3 WDS JS Projects
        ul.canHazBurger
          li Midi Piano
          li
          li
          li
        ul.navMain.hidden
          li Midi Piano
          li item2
          li item3
          li item4

    .piano
      .key.white(data-note="C")
      .key.black(data-note="Db")
      .key.white(data-note="D")
      .key.black(data-note="Eb")
      .key.white(data-note="E")
      .key.white(data-note="F")
      .key.black(data-note="Gb")
      .key.white(data-note="G")
      .key.black(data-note="Ab")
      .key.white(data-note="A")
      .key.black(data-note="Bb")
      .key.white(data-note="B")