//- //< Sassy settings
$minWidthLg: 1000px;
$minWidthMed: 800px;
$minWidthSml: 420px;
//- //>Base settings
:root {
  --clr: #f3e4ff;
  --clr-dark: #deaaff;
  --clr-secondary: #cbfcfd;
  --clr-secondary-dark: #00d6dd;
  --clr-white: white;
  --clr-black: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background: grey;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  list-style: none;
}

.span {
  display: inline-block;
}

.wrap {
  max-width: 1199px;
  margin: 0 auto;
  @media (max-width: $minWidthLg) {
    padding: 0 1.5rem;
  }
}

.center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  @media (max-width: $minWidthLg) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media (max-width: $minWidthSml) {
    justify-content: center;
  }
}

header {
  background: var(--clr);
  @media (max-width: $minWidthMed) {
    position: sticky;
    top: 0;
    z-index: 420;
    border-bottom: 1px solid var(--clr-dark);
  }
}

.hidden {
  display: inline-block;
  visibility: visible;
  transition: all 0.3ms;
  @media (max-width: $minWidthMed) {
    visibility: hidden;
    display: none;
  }
}

.canHazBurger {
  display: grid;
  gap: 3px;
  justify-content: center;
  visibility: hidden;
  @media (max-width: $minWidthMed) {
    visibility: visible;
    li {
      width: 25px;
      height: 3px;
      background: var(--clr-black);
    }
  }
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMain {
  @media (max-width: $minWidthMed) {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    justify-self: center;
    text-align: center;
    background: linear-gradient(var(--clr), var(--clr-white));
    border-bottom: 1px solid var(--clr-dark);
    z-index: 999;
  }

  li {
    padding: 1em;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    @media (max-width: $minWidthMed) {
      display: block;
    }
  }

  i.fas {
    padding: 0.5rem;
    cursor: pointer;
  }
}

//> midi piano css

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

//> quiz css

.answer-item {
  list-style: lower-alpha;
}

.question-item {
  margin-bottom: 2rem;
}

.question-item.correct {
  color: green;
}

.question-item.incorrect {
  color: red;
}

.question-item:last-child {
  margin-bottom: 0;
}

.alert-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

#alert {
  font-size: 1.25rem;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  background-color: hsl(100, 80%, 80%);
  border-radius: 0.5rem;
  color: hsl(100, 80%, 20%);
}

#alert.active {
  display: block;
}
